.mobile-desktop {
    background-image: url("wp2704890.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.resume { 
    color: orange;
    font-size: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background-color: rgb(22, 51, 61);
    cursor: pointer;
}

.hi {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    background-color: rgb(22, 51, 61);
}

.welcome_note {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: blue;
    padding: 20px;
}

.flex_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_project {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    grid-gap: 50px;
}

.title_name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: normal;
    border: solid;
    border-radius: 30px;
    border-width: 2px;
    border-color: rgb(136, 120, 32);
    padding: 20px;
    text-align: center;
}

.autonomous_underwater_vehicle,
.underwater_ROV,
.DD_robocon2020,
.aqua_boat,
.photo {
    color: white;
}

.cont_container {
    display: flex;
    flex-direction: column;
    border-top: solid;
    border-color: azure;
    background-color: rgb(88, 92, 92);
}

.cont {
    color: rgb(214, 185, 21);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    padding: 10px;
}

.title {
    color: rgb(11, 2, 20);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding: 20px;
}

/* Responsive Styles */

@media only screen and (max-width: 600px) {
    .resume,
    .hi,
    .title_name,
    .welcome_note,
    .content_project,
    .cont_container,
    .cont,
    .title {
        padding: 10px;
    }
    
    .content_project {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }
    
    .cont_container {
        display: flex;
        flex-direction: column;
    }
    
    .flex_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}
